@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>KTV-Management</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="~/login.ico" type="image/x-icon">
    <!-- Google font--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/template/files/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/template/files/assets/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/template/files/assets/icon/feather/css/feather.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/template/files/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/template/files/assets/css/style.css">
</head>

<body class="fix-menu main-page">
    <!-- Pre-loader start -->
    <div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
    <!-- Pre-loader end -->
    <section class="login-block-screen">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Login card start -->
                    <form class="md-float-material form-material">
                        <div class="text-center">
                            <img src="~/images/logo/3900a6ade0204bfb8c34cccca690ed6b.png" class="img img-circle" alt="logo.png" style="height: 120px;width: auto;">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-center"><i class="feather icon-lock text-primary f-60 p-t-15 p-b-20 d-block"></i></h3>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    <span class="form-bar"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a asp-action="Login" asp-controller="Account" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-lock"></i> Lock Screen </a>
                                    </div>
                                </div>
                                <p class="text-inverse text-right">Back to <a asp-action="Login" asp-controller="Account">Login</a></p>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0">Lock Screen</p>
                                        <p class="text-inverse text-left"><a asp-action="Index" asp-controller="Home"><b class="f-w-600">Back to Home Page</b></a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="~/images/logo/3900a6ade0204bfb8c34cccca690ed6b.png" alt="small-logo.png" class="img img-circle" style="width: auto;height: 60px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Login card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="~/template/files/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/template/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/template/files/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/template/files/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/template/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/template/files/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/template/files/bower_components/modernizr/js/css-scrollbars.js"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/template/files/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="~/template/files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/template/files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/template/files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
    <!--Color Script Common-->
    <script type="text/javascript" src="~/template/files/assets/js/common-pages.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>
<style type="text/css">
    .login-block-screen {
        padding: 30px 0;
        margin: 0 auto;
        background-size: cover;
        min-height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    
    .login-block-screen .auth-box {
        margin: 20px auto 0 auto;
        max-width: 450px
    }
    
    .login-block-screen .auth-box .confirm h3 {
        color: #01a9ac;
        font-size: 34px
    }
    
    .login-block-screen .auth-box i.icofont-check-circled {
        font-size: 42px
    }
    
    .login-block-screen.offline-404 .auth-box {
        max-width: 650px
    }
    
    .login-block-screen.offline-404 .auth-box h1 {
        color: #2c3e50;
        font-size: 160px;
        font-weight: 600;
        letter-spacing: 5px;
        text-shadow: 3px -2px 4px rgba(128, 128, 128, 0.57)
    }
    
    .login-block-screen.with-header {
        min-height: calc(100vh - 56px)
    }

    .main-page{
        background-color:white;
        background-image:
        radial-gradient(#ccebff 3px, transparent 8px),
        repeating-radial-gradient(#e6f5ff 0, #e6f5ff 4px, transparent 5px, transparent 20px, #e6f5ff 21px, #e6f5ff 25px, transparent 26px, transparent 50px);
        background-size: 30px 30px, 90px 90px;
        background-position: 0 0;
    }
</style>