@model GroupSection
<!-- Page-header start -->
<div class="page-header ribbon-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Group Section</h4>
                    <span>Group Section Lists</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a asp-action="index" asp-controller="Home"> <i class="icofont icofont-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Group Section</a>
                    </li>
                     <li class="breadcrumb-item">
                        <a href="#!">Lists</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="card">
    <div class="card-block">
        <div class="text-right">
            <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#category-model">Create New</button>
        </div>

        @{await Html.RenderPartialAsync("_GroupSectionList");}
    </div>
</div>


 <!-- Modal large-->
           
<div class="modal fade" id="category-model" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title"></h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <form class="" asp-action="AddGroupSection" asp-controller="Sections" role="form" method="post">
                   <fieldset>
                       <div class="form-group row">
                           <div class="col">
                           </div>
                           <div class="col-sm-8">
                               <h4 class="sub-title" style="border-bottom:2px #00ACED solid ">Group Section Form</h4>
                               <div class="form-group">
                               <input type="text" asp-for="GSectionEn" class="form-control" placeholder="group section name" required="required">
                               </div>
                               <div class="form-group">
                                   <input type="text" asp-for="GSectionStr" class="form-control" placeholder="group section foreign" required="required">
                               </div>
                               <div class="form-group">
                                   <input type="text" asp-for="Floor" class="form-control" placeholder="floor..." required="required">
                               </div>
                               <div class="form-group">
                                   <textarea type="text" asp-for="Description" class="form-control" placeholder="Description..." required="required" rows="2"></textarea>
                               </div>
                               
                               <div class="form-group">
                                   <div class="text-right">
                                       @*<button type="hidden" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>*@
                                       <input type="submit" class="btn btn-primary" value="Submit"/>
                                   </div>
                               </div>
                           </div>
                           <div class="col">
                           </div>
                       </div>
                   </fieldset>
               </form>
           </div>
       </div>
   </div>
</div>


