@{ Layout = "InvLayout/_PchLayout"; }
<!-- Page-header start -->
<div class="page-header ribbon-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Purchase</h4>
                    <span>Purchase</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a asp-action="index" asp-controller="Home"> <i class="icofont icofont-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Inventory</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Pruchase</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>