@{
    Layout = "InvLayout/_InvLayout";
}
@model SubCategoryL1
@{
    var cates =await CategoryService.GetCateList();
}
<!-- Page-header start -->
<div class="page-header ribbon-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Subcategory</h4>
                    <span>Subcategory Lists</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a asp-action="index" asp-controller="Home"> <i class="icofont icofont-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Subcategory</a>
                    </li>
                     <li class="breadcrumb-item">
                        <a href="#!">Lists</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="card">
    <div class="card-block">
        <div class="text-right">
            <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#subl1-model">Create New</button>
        </div>
        @{await Html.RenderPartialAsync("SubcateList");}
    </div>
</div>

<div class="modal fade" id="subl1-model" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title">Subcategory</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <form class="" asp-action="CreateSubCateL1" asp-controller="Categories" role="form" method="post">
                   <fieldset>
                       <div class="form-group row">
                           <div class="col">
                           </div>
                           <div class="col-sm-10">
                               <h4 class="sub-title" style="border-bottom:2px #00ACED solid ">Subcategory Form</h4>
                               <div class="form-group row has-error">
                                   <label class="col-sm-3 col-form-label">Subcate Name <span class="text-danger">*</span></label>
                                   <div class="col-sm-9">
                                       <input type="text" class="form-control input-danger" asp-for="SubCateL1_En" placeholder="Subcategory Input Name" required="required">
                                       <span class="text-danger labelstr" asp-validation-for="SubCateL1_En"></span>
                                   </div>
                               </div>
                               <div class="form-group row has-error">
                                   <label class="col-sm-3 col-form-label">Subcate Foreign </label>
                                   <div class="col-sm-9">
                                       <input type="text" class="form-control input-danger" asp-for="SubCateL1_Str" placeholder="Subcategory Input Foreign">
                                       <span asp-validation-for="SubCateL1_Str"></span>
                                   </div>
                               </div>
                               <div class="form-group row has-error">
                                   <label class="col-sm-3 col-form-label">Category <span class="text-danger">*</span></label>
                                   <div class="col-sm-9">
                                       <select asp-for="Cate_Id" class="form-control required">
                                           @foreach (var cate in cates as List<Category>)
                                           {
                                               <option value="@cate.CateId">@cate.Cate_En</option>
                                           }
                                       </select>
                                   </div>
                               </div>
                               <div class="form-group row text-right">
                                   <label class="col-sm-3"></label>
                                   <div class="col-sm-9">
                                       @*<button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>*@
                                       <button type="submit" class="btn btn-primary m-b-0">Submit</button>
                                   </div>
                               </div>
                           </div>
                           <div class="col">
                           </div>
                       </div>
                   </fieldset>
               </form>
           </div>
       </div>
   </div>
</div>

<script src="~/js/category.js"></script>
