<nav class="navbar header-navbar pcoded-header pos-order-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a asp-action="Dashboard" asp-controller="Home">
                <img class="img-rounded" src="~/images/logo/@Context.Session.GetString("Logo")" style="width: 100px;height: 7vh;" alt="Theme-Logo">
            </a>
            <a class="mobile-options text-white">
                <i class="feather icon-more-horizontal"></i>
            </a>
        </div>
        <div class="navbar-container container-fluid pos-nav">
            <ul class="nav-left">
                <li class="header-search" hidden="hidden">
                    <div class="main-search morphsearch-search">
                        <div class="input-group">
                            <span class="input-group-addon search-close text-white"><i class="feather icon-x"></i></span>
                            <input type="text" class="form-control">
                            <span class="input-group-addon search-btn text-white"><i class="feather icon-search"></i></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#!" onclick="javascript:toggleFullScreen()">
                        <i class="feather icon-maximize full-screen"></i>
                    </a>
                </li>
            </ul>
            @*<input type="button" id="sendOrderHeader" value="send"/>*@
            <ul class="nav-right text-white">
                @*<li class="header-notification" hidden="hidden">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-bell"></i>
                            <span class="badge bg-c-pink totalnotification">0</span>
                        </div>
                        <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" style="max-height:480px;overflow-y: auto;" id="notification">

                        </ul>
                    </div>
                </li>
                <li class="header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-bell"></i>
                            <span class="badge bg-c-green totalnotification">0</span>
                        </div>
                    </div>
                </li>*@
                @*<li>
                    <button type="button" onclick="location.href='@Url.Action("saleAging","reports")'" class="btn btn-default bg-c-pink text-white">Pay Back</button>
                </li>*@
                <li class="user-profile header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/images/profiles/@Context.Session.GetString("Img")" class="img-radius" alt="User-Profile-Image">
                            <span>@Context.Session.GetString("OwnnerName")</span>
                            <i class="feather icon-chevron-down"></i>
                        </div>
                        <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li hidden="hidden">
                                <a href="/user/profile/@Context.Session.GetString("OwnnerId")">
                                    <i class="feather icon-user"></i> Profile
                                </a>
                                
                            </li>
                            <li>
                                <a asp-action="CashIn" asp-controller="CashInOuts">
                                    <i class="feather icon-edit"></i> Cash-in
                                </a>
                            </li>
                            <li>
                                <a asp-action="CashOut" asp-controller="CashInOuts">
                                    <i class="feather icon-airplay"></i> Cash-out
                                </a>
                            </li>
                            <li>
                                <a asp-action="LockScreen" asp-controller="Account">
                                    <i class="feather icon-lock"></i> Lock Screen
                                </a>
                            </li>
                            <li>
                                <a asp-action="LogOut" asp-controller="Account">
                                    <i class="feather icon-log-out"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<style>
    li {
       list-style-type: none;
       margin: 0;
       padding: 0;
     }
</style>