<div class="page-header ribbon-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Item Master Data</h4>
                    <span>Item</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a asp-action="index" asp-controller="Home"> <i class="icofont icofont-home"></i> </a>
                        <button type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#default-Modal">Static</button>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Item</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Inventory</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>